# Dependencies
**/node_modules/
**/.next/
**/target/
**/out/
**/build/

# Local databases and locks
**/runtime/
**/data/*.db
**/data/*.db.mv.db
**/data/*.db.trace.db
**/runtime/*.db
**/runtime/*.db.mv.db
**/runtime/*.db.trace.db
**/*.mv.db
**/*.trace.db

# IDEs and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Local configuration files
**/application-local.properties
**/.env
